*{margin:0;padding:0}
body{
	font-family:sans-sarif, Arial !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
p{
	line-height:150%;
	margin-bottom:2em;
}
.fix{
	overflow:hidden;
}
.container-full{
	width:100%
}
.container{
	width:980px;
	margin:0 auto
}
.header-bg{
	background:#292929
}
.container .logo h1{
	color:#fff;
	font-size:40px;
	font-weight:bold;
	padding-top:30px;
	float:left
}
.container>header>nav .menu{
	float:right;
}
.container>header>nav .menu li{
	float:left;
	list-style:none;
	border-right:1px solid #1d1d1d
}
.container>header>nav .menu li:first-child{
	border-left:1px solid #1d1d1d
}
.container>header>nav .menu li a{
	display:block;
	font-size:16px;
	font-weight:bold;
	padding:40px 30px;
	color:#fff;
	border-bottom:3px solid #1e1e1e
}
.container>header>nav .menu li:hover a{
	border-bottom:3px solid #58c93a;
	color:#58c93a;
	transition:all .5s
}
.container>header>nav .menu li a.active{
	border-bottom:3px solid #58c93a;
	color:#58c93a
}
.container-border{
	border-top: 3px solid #1e1e1e;
	margin-top:	-3px;
	border-bottom:	1px solid #e1e0e0;
}
.content-wrapper{
	border-right: 2px solid #e1e0e0;
	border-left: 1px solid #e1e0e0;
	padding-top: 80px;
	overflow: hidden
}
.content-wrapper .left-content{
	width:620px;
	margin-right: 75px;
	float:left
}
.left-content .single-post{
	margin-bottom: 80px
}
.left-content .single-post img{
	width:620px;
	height:305px
}
.left-content .single-post h2{
	font-family: Lato;
	font-weight: bold;
	font-size: 28px;
	color: #4f4e4e;
	text-transform: uppercase;
	margin: 13px 12px 10px 22px;
}
.post-meta {
    margin-bottom: 50px;
	margin-left: 22px;
	width: 100%
}
.icon {
    font-size: 15px;
    color: #a09c9c;
    margin-right: 5px;
}

span.post-data {
    font-size: 13px;
    font-family: arial;
    letter-spacing: .3px;
    color: #4f4e4e;
}
.left-content .single-post p{
	font-family: Lato;
	font-size: 16px;
	color: #606060;
	margin: 0px 27px 35px 22px;
}
.left-content .single-post a{
	color: #c2c1c1;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	margin-left: 22px;
	padding: 7px 20px;
	border: 2px solid #c2c2c2;
	border-radius: 25px
}
.pegination{
	padding: 30px 12px;
	border-right: 2px solid #e1e0e0;
	border-left: 1px solid #e1e0e0;
	border-top: 1px solid #e1e0e0;
	text-transform: uppercase
}
.pegination a{
	font-weight: bold;
	font-family: Lato;
	font-size: 18px;
	color: #818181
}
.pegination .next{
	float:right
}
.right-content{
	width: 280px;
	float: right
}
.right-content .single-sidebar{
	margin-bottom: 80px
}
.single-sidebar h2{
	color: #6c6969;
	background: #f8f8f8;
	border-left: 2px solid #58c93a;
	padding: 18px 0px 18px 15px;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	margin-bottom: 23px;
	text-transform: uppercase
}
.single-sidebar p{
	color: #737373;
	font-family: Lato;
	font-size: 16px;
	padding: 0px 18px
}
.single-sidebar .search,
.single-sidebar .emai-bar{
	font-size: 12px;
	font-family: Lato;
	padding: 20px 0px 22px 20px;
	color: #c8c8c8;
	border: 1px solid #e1e0e0;
	width: 100%
}
.email-submit{
	position: relative;
}
.email-submit input[type='submit'] {
    background: url(images/emailSubmit.png) no-repeat;
    position: absolute;
    top: 19px;
    right: 5px;
    text-indent: -9999999999px;
    border: none;
    width: 24px;
    height: 24px;
	outline: none;
	cursor: pointer;
}
.footer-bg{
	background: #f8f8f8
}
.container-full .footer{
	text-align: center
}
.container-full .footer h1{
	padding-top: 75px;
	padding-bottom: 40px;
	font-size: 40px;
	font-family: Lato;
	font-weight: bold;
}
.container-full .footer p{
	color: #a6a6a6;
	font-size: 13px;
	font-family: Lato;
	margin-bottom: 38px
}
.container-full .footer .social-icons{
	padding-bottom: 80px
}
.social-icons li{
	list-style: none;
	display: inline-block;
	margin: 0px 10px
}
.social-icons li .fb{
	background: url(images/fb1.png) no-repeat;
	width: 40px;
	height: 40px;
	display: block;
}
.social-icons li .fb:hover{
	background: url(images/fb.png);
	transition: all .3s
}
.social-icons li .twit{
	background: url(images/twitter.png) no-repeat;
	width: 40px;
	height: 40px;
	display: block;
}
.social-icons li .twit:hover{
	background: url(images/twitter1.png);
	transition: all .3s
}
.social-icons li .be{
	background: url(images/be.png) no-repeat;
	width: 40px;
	height: 40px;
	display: block;
}
.social-icons li .gol{
	background: url(images/gol.png) no-repeat;
	width: 40px;
	height: 40px;
	display: block;
}








