#about, #portfolio,#contact{
	color: #777;
	line-height: 1.8
}
a.logo:hover {
    background: none !important;
}
.w3-bar,.w3-bar-block{font-family: 'Dosis', sans-serif;letter-spacing:2px}
.bgimg-1, .bgimg-3{
		background: url("img/parallax1.jpg") no-repeat;	
		min-height:400px;
		background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}