/*loader */

.loader-wrapper{
	width:100%;
	height: 100vh;
	position:absolute;
	top:0;
	left:0;
	background-color: #242f3f;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/*loader */
html { scroll-behavior: smooth; }
h2,p,input,.subBtn{font-family: 'Quicksand', sans-serif;}
a{text-decoration: none;}
.menu .menu__item{
	font-family: 'Montserrat Alternates', sans-serif; 
	font-size: 16px;
	margin-right: 25px;
}
.menu .menu__item:hover{
	color: #3f51b5;
	transition: all .4s;
}
.menu .menu__item:before {
    content: "";
    display: block;
    width: 0;
    margin: 4px auto 6px;
    border-top: 3px solid #3f51b5;
    transition: width .25s;
}
.menu .menu__item:hover.menu__item:before{
	width: 100%;
	transition: width .25s ease-in-out 0s;
}
.social-icon li, .menu li{
	border-bottom: 0px !important
}
.social-icon a {
    color: #3f51b5;
    font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
.resp-social-icon a{color:white}
.homeBg {
    position: absolute;
    right: 0px;
    top:0px;
    width: 40%;
    height: 95vh;
    background: #ebeffd;
    z-index: -9999;
    border-radius: 0 0 0 50px;
}
img.homeBub {
    position: absolute;
    top: 54%;
    left: 32%;
    z-index: -999;
}
.home__content a,p,h1{font-family: 'Quicksand', sans-serif; }

.imgbg{
	z-index: -999;
    width: 70%;
    margin-left: 65px;
    position: absolute;
    right: 0px;
    transform: rotate(-3deg);
}
.heroImg:hover{
	transform: rotate(-3deg);
}
.hireBtn,.contactBtn, .subBtn{
    width: 150px;
    height: 40px;
    display: flex;
	float:left;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.hireBtn, .subBtn, .mailBtn{	
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.22);
    color: white;
	cursor:pointer;
    background-color: #3f51b5;
	margin-right: 25px;
	border:none;
	
}
.contactBtn{
	border: 2px solid #3f51b5;
	color: #3f51b5;	
	cursor:pointer;
}

img.pab {position: absolute;}
img.biobg1 {
    width: 47px;
    top: 118px;
    right: 80px;
}
img.biobg2 {
    width: 30px;
    top: 382px;
    right: 200px;
    transform: rotate(72deg);
}
.tesmonialbg1 {
    width: 68px;
    right: 50px;
    bottom: 37px;
	z-index: -999;
}
.tesmonialbg2 {
    width: 40px;
    top: 30px;
    left: 71px;
}
.port img{border: 1px solid #ddd; padding: 10px}

/*service carousel */
.columnBox .title{
	font-size:32px;
	margin-bottom: 0px;
	font-weight: 400;
	color: #64637b;
	margin-top: -8px;
}

.columnBox .col-des{
	font-size:14px;
	margin-top:20px;
	font-weight: 500;
	color: #64637b;
}
.columnBox {
    margin: 20px auto;
    width: 266px;
    min-height: 296px;
    background: #fff;
    border-radius: 10px 10px 30px 10px;
    box-shadow: 0 10px 25px rgba(96,96,96,.2);
    padding: 32px;
    transition: all .3s ease-out;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	position: relative;
}
.columnBox:hover{
    transform: scale(1.1);
    background-color: #3838f8;
	background-image: url(img/block.png);
    background-repeat: no-repeat;
	background-size:cover;
    background-position: 10px;
	box-shadow: 0 10px 25px rgba(56,56,248,.4)!important;
}
.columnBox:hover .title, .columnBox:hover .col-des{
    color: white;
}
hr.colhr {
    position: absolute;
    right: 7%;
    top: 0%;
    width: 50px;
    height: 3px;
    border-radius: 10px;
}
img.serBlock-img {
    position: absolute;
    top: 80px;
    left: 40px;
}
/*service carousel */

hr.mlw-border {
    width: 10%;
    background-color: #ef3ab2;
    padding: 4px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 40px;
}
img.connectl {
    width: 300px;
    left: 570px;
    bottom: -95px;
    z-index: -999;
}
img.bubbleImg {
    position: absolute;
    z-index: -999;
    top: 0px;
}
img.port-bg-img {
    transform: rotate(-57deg);
    z-index: -999;
    width: 400px;
    top: 20px;
    right: -28px;
}
form input, form textarea {
    background: #f7f7f7;
    border-bottom: none !important;
}
form input{height:50px}
#contact{padding: 20px 70px 50px  70px;}
img.con-bg-img {
     width: 450px;
    top: 30px;
    z-index: -9999;
    left: -323px;
    transform: rotate(84deg);
}
/* social link deign*/

.social-link--linkedin {
  color: #2d76b0;
}

.social-link--github {
  color: #000;
}
.social-link--dribbble {
  color: #b53561;
}

.social-link .social-svg {
  width: 4.8rem;
  height: 4.8rem;
}

.social-link .social-svg .social-group__icon {
  fill: #191308;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg .social-group__inner-circle {
  fill: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg .social-group__outline {
  stroke: #191308;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
  fill: #FFFBFA;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
  fill: currentColor;
  -webkit-transition: all .45s;
  transition: all .45s;
}
.social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
  stroke: currentColor;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .45s;
  transition: all .45s;
}
.social-link {
    margin: 30px;
}

/* responsive menu*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3f51b5;
  color:white;
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 999999999;
}
.overlay-content {
  position: relative;
  top: 22%;
  width: 100%;
  text-align: center;
}
.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #b9b9b9;
}
.overlay .closebtn img{
  position: absolute;
top: 20px;
width: 40px;
right: 30px;
}
img.dot-img {
    position: absolute;
    top: 120px;
}
img.dot-img2 {
    position: absolute;
    right: 0px;
}
/*carousel */
#customer-testimonial{
	padding: 40px 0px;
}
.testimonial img{
	margin:auto;
	max-width: 160px;
	padding: 5px;
	border: 2px solid black;
	margin-bottom: 50px;
	border-radius: 100px;
}
.testimonial blockquote{
	border: 0;
	font-style: italic;
	padding: 5px 150px;
	position: relative;
}
.testimonial blockquote::before,
.testimonial blockquote::after{
	font-size: 80px;
	width: 30px;
	height: 30px;
	position: absolute;
	line-height: 1;
}
.testimonial blockquote::before{
	content: "\201C";
	top: -30px;
	left: 100px;
}
.testimonial blockquote::after{
	content: "\201D";
	bottom: 0px;
	right: 100px;
}
/*carousel */
button.mailBtn {
    padding: 10px 40px;
    border-radius: 50px;
    margin: 10px 0px 50px 0px;
    transition: all .2s;
}

p.likeText {
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #BABABA;
}


@media only screen and (max-width: 992px) {
  .biot {text-align: center;}
  .biot p{padding-right: 0px !important}
  .port img{margin-bottom: 25px}
  #testimonial .w3-content{margin:0px 20px;}
  #contact{padding:20px 30px 50px 30px}
  .home__content{flex-flow:column-reverse}
  .heroImg{
	float: none !important;
	margin: auto;
	display: block;
	}
}
@media only screen and (max-width: 992px){
}
@media only screen and (max-width: 490px){
	.testh{height: 70vh !important}
	.social-link {
    margin: 0px;
	}
}
@media only screen and (max-width: 400px){
	.homeBg{
	width: 70%;
    height: 60vh;
	}
}

@media only screen and (max-width: 380px){
	.hireBtn{
		margin-bottom:10px
	}
	.Intro{padding-left: 15px}
}
@media only screen and (max-width:560px){
	.testimonial blockquote{padding:5px 0px}
	.testimonial blockquote::before{left:0px}
	.testimonial blockquote::after{right:0px}
}
@media only screen and (max-width:602px){
	.responsivd-mb{margin-bottom: 25px}	
}
